/target
.DS_Store
**/.DS_Store
dist
/plugin-dev
/Daymatter-AstroBox-Plugin
/simple-weather-astrobox-v2-plugin
/Debug-Helper-AstroBox-Plugin
.env.local
/scripts/__pycache__
API.md
.codex
.claude
/pref
notice.mdx
qweather.mdx
base.mdx
CLAUDE.md
INTERCONNECT_API.md
AGENTS.md
program.md